body{
  font-family: 'avenir', helvetica, sans-serif;
  background-color: #ffffff;

}
.container{
width: 80%;
margin: auto;
}
/** Nav begins **/
.nav_ul li {
  padding: 0 30px 0 30px;
  display: inline;
}

.nav a {
  text-decoration: none;
  font-family: 'Avenir', 'Helvetica', sans-serif;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fff;
  transition: 0.5s;
}
.nav a:hover{
  color: #ADAD9E;
  transition: 0.5s;
  text-decoration: none;
}

.nav ul li a {
  text-decoration: none;
  font-family: 'Avenir', 'Helvetica', sans-serif;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.04em;
}
.nav {
  text-align: left;
  margin-left: 100px;
  margin-top: -30px;
}
/** nav ends**/
.logo_top{
  margin-top: -10px;
  margin-left: 40px;
}
header{
height: 100vh;
background-size: cover;
background-color: #D1CFB4;

}

header h2{
font-size: 30px;
color: #ffffff;
margin-top: -5px;
}
.feature{
height: 70vh;
background-color: #ffffff;
display: flex;
}

.h1_white{
  color: #ffffff;
  font-size: 8vh;
  font-weight: 700;

  padding-bottom: 50px;

}
.intro{
height: 55vh;
background-color: #D1CFB4;
display: flex;
}
.logo_feature{
text-align: center;
margin-top: 260px;
}

.feature_image{
  margin-top: 80px;
  margin-left: 80px;
}

[class*='col-'] { /* selecting both columns and floating left*/
  float: left;
}

.col-2-3 {
  width: 66.66%;

}
.col-1-3 {
  width: 33.33%;

}

.grid:after {
  content: "";
  display: table;
  clear: both;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

p {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-size: 2vh;
}

.col.1{
  width: 33.33%;
  background-color: #000000;
}
